# Test report
Instead of using the image data here, 1D sample data of 36 input variables are used
DBN Test£º

[Hidden layer]training, verification, testing = validation rate
[300,300,300]6430,6430,6430 =76.9%
[300,300,300]4430,1000,1000 =82%
[500,500,500]4430,1000,1000 =82%
[500,500,500,500]4430,1000,1000 =82%