# Test report
tensorflow DNN Test£º

hidden_units	Validation rate

#[10, 20, 10]   0.846034

#[100, 100, 100] 0.852255

#[300, 300, 300] 0.846034

#[500, 500, 500] 0.845257